.pwi_loader{
	height: 80px;
	width: auto;
	border: 2px solid grey;
}

.pwi_container{
	color: white;
	background-color: black;
	font-family: Arial;
	font-size: 8pt;
	padding: 5px;
}

.pwi_container a{
	color: white;
}

.pwi_albums{

}

.pwi_album_description{
	text-align: left;
	color: white;
	font-family: Arial;
	font-size: 8pt;
	background-color: grey;
	padding: 10px;

}
.pwi_album_description .title{
	font-size: 12pt;
	margin-top: 10px;

}
.pwi_album_description .details{
	font-size: 8pt;
	font-style: italic;
}
.pwi_album_description .description{
	font-size: 10pt;
	padding: 5px;
}
.pwi_album_description .sslink{

}

.pwi_album{
	float: left;
	padding: 0.5em;
	text-align: center;
	color: grey;
}
.pwi_album img{
	border: 1px solid grey;
}


.pwi_photo{
	float: left;
	padding: 0.5em;
	text-align: center;
}
.pwi_photo img{
	border: 1px solid grey;
}

.pwi_pager{
	clear: both;
}
.pwi_pager_current{
	font-weight: bold;
}