/* General */

body
{
	font-family: Arial, Helvetica, Sans-Serif;
	color: #A6A6A6; /* txt_color */
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	background-color: #666666; /* bg_color */
}

/* Typeography */

p{	margin: 8px 0px 8px 0px; }

h1, h2, h3, h4, h5, h6{
	font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF; /* headline_txt_color */
    text-shadow: #bbb 2px 2px 1px;
	margin: 2px 0px 2px 0px;
}

h1{	font-size: 20px;}
h2{	font-size: 18px;}
h3{	font-size: 16px;}
h4{	font-size: 14px;}
h5{	font-size: 12px;}
h6{	font-size: 10px;}

/* Blocks */
code, pre {
	font-family: 'Courier New', Courier, Fixed;
}

pre {
	width: 642px;
	overflow: auto;
	border: 1px dotted #333333; /* inner_border_color */
	padding: 5px
}

blockquote {
	color: #777;
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd
}

/* Links */
a:link, a:visited
{
	font-weight: bold;
	text-decoration: none;
	color: #6191F2; /* link_reg_color */
}

a:hover
{
	text-decoration: underline;
	color: #99BBFF; /* link_hi_color */
}

a:active
{
	color: #CBDCFF; /* link_down_color */
}

/* Forms */
form {
	font-size: 11px;
	margin: 0px;
	padding: 0px
}
	
input, select, option, textarea
{
	font-size: 11px;
	text-align: left;
}

/* Elements */
hr	
{
	color: #333333; /* inner_border_color */
	background-color: #333333; /* inner_border_color */
	height: 1px;
	border: 0px;
	margin: 8px 0px 8px 0px; 
}

/* Images */
img
{
	border: 0px;
}

img.pwimages{
	border: solid 1px gray;
	margin: 3px;
}

.pwalbums{
	border: 1px solid gray;
}

#img_float_left
{
	/* Used in the [img] tag when float=left */
	float: left;
	margin: 2px 8px 4px 2px;
}

#img_float_right
{
	/* Used in the [img] tag when float=right */
	float: right;
	margin: 2px 2px 4px 8px;
}

.watermark {
position: relative;
}

.watermark span {
position: absolute;
right: 130px;
bottom: 10px;
width: 100px;
height: 50px;
background-image: url(/interface/logo.png);
}

/* Theme Specific */
#maintable{
	border: 1px solid #CCCCCC;
	background-color: #000000;
}

#header_image
{
	border-color: #CCCCCC; /* border_color */
	border-width: 0px 0px 1px 0px;
	border-style: solid;
}

#header
{
	font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif;
	color: #FFFFFF; /* header_txt_color */
	margin: 0px;
	padding: 4px 12px 4px 12px;
	border-color: #CCCCCC; /* border_color */
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	background-color: #333333; /* header_bg_color */
	font-size: 14px;
	font-weight: bold;
}

#maincontent
{
	margin: 0;
	padding: 20px;
	background-color: #000000;
}

#maincontent .blog_subject
{
	font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif;
	color: #FFFFFF; /* headline_txt_color */
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
}

#maincontent .blog_byline
{
	color: #999999; /* date_txt_color */
	font-size: 9px;
	margin-bottom: 10px;
}

#maincontent .blog_date {
	color: #666666;
}

#maincontent .blog_categories {
	color: #666666;
}

div #toggleSidebarAvatar, #toggleSidebarLinks, #toggleSidebarCalendar, #toggleSidebarArchives, #toggleSidebarCategories , #toggleSidebarSearch, #toggleSidebarMenu, #toggleSidebarPreferences, #toggleSidebarRecentComments, #toggleSidebarRecentEntries, #toggleSidebarRecentTrackbacks
{
	display: block;
}

#sidebarcell{
	background-color: #1A1A1A;
	border-left: 1px solid #CCCCCC;
}

#sidebar
{
	padding: 10px;
	background-color: #1A1A1A;
	
}

#sidebar .menu_title
{
	font-family: 'Trebuchet MS', 'Gill Sans', Helvetica, sans-serif;
	font-weight: bold;
}

#sidebar .menu_title a
{
	text-decoration: none;
	color: inherit;
}

#sidebar .menu_title:hover
{
}

#sidebar .menu_body 
{
	padding: 10px;
	border-color: #333333;
	border-width: 1px;
	border-style: dashed;
}

#sidebar .divider {
	margin: 8px 0px 8px 0px;
}

#sidebar .calendar
{
	font-size: 10px;
}

#sidebar .calendar a
{
	font-weight: bold;
	text-decoration: none;
}

#sidebar .calendar td
{
	padding: 2px;
}

#archive_tree_menu ul	
{
	list-style: none inside;
	padding: 0px 0px 0px 10px;
	margin: 0px;
}

#archive_tree_menu li	
{
	margin: 0px;
	padding: 0px;
}

#footer
{
	color: #666666;
	border: 0;
	border-top: 1px solid #CCCCCC; /* border_color */
	color: #666666; /* footer_txt_color */
	background: #333333; /* footer_bg_color */
	padding: 10px;
	text-align: left;
	clear: both;
}

.divider { margin: 20px 0px 15px 0px; }

/*  Greybox */
#overlay{
	background-image: url(/interface/overlay.png); 
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 90;
    width: 100%;
    height: 100%;
}

* html #overlay{
	background-color: #000;
	back\ground-color: transparent;
	background-image: url(/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/interface/overlay.png", sizingMethod="scale");
	}